

/*============================================================== Education ==============================================================*/

@media only screen and (max-width: 620px){
    .main {
        width: 100%;
        margin-top: 30px;
    }
    .timecontainer {
        width: 100%; 
    }
    .timecontainer ul {
        list-style: none;
        padding: 0; 
    }
    .timecontainer ul li {
        width: 100%;
        margin-bottom: 80px;
    }
    .timecontainer ul li .heading {
        font-size: large;
        color: greenyellow;
    }
    .timecontainer ul li p, .timecontainer ul li a, .timecontainer ul li .date {
        font-size: medium;
        color: white;
        line-height: 18px;
        margin: 6px 0 4px 0;
        font-weight: bold;
        text-decoration: none;
    }
    .timecontainer ul li a {
        color: black;
        transition: all 0.3s ease;
    }
    .timecontainer ul li:nth-child(odd) {
        float: right;
        clear: left;
        text-align: right;
        transform: translateX(0px);
    }
    .timecontainer ul li:nth-child(even) {
        float: right;
        clear: left;
        text-align: left;
        transform: translateX(0px);
    }
    .circle::after{
        display: none;
    }
    .timecontainer ul li .circle{
        display: none;
    }
    .b1{
        height: 550px;
        width: 550px;
    }
    .b2{
        height: 400px;
        width: 400px;
    }
    .b3{
        height: 250px;
        width: 250px;
    }
    .b4{
        height: 100px;
        width: 100px;
    }
}


/*================================================================ Contact ================================================================*/

@media only screen and (max-width: 1020px){
    .form-group-title{
        width: 100px;
    }
    .contact-form input, .contact-form textarea{
        width: 400px;
    }
    .contact-form {
        border-spacing: 30px 20px; 
      }
}

@media only screen and (max-width: 900px){

    .contact-form input, .contact-form textarea{
        width: 350px;
    }
    .contact-form {
        border-spacing: 20px 20px; 
    }
}

@media only screen and (max-width: 770px){

    .contact-form input, .contact-form textarea{
        width: 300px;
    }
    .contact-form {
        border-spacing: 0px 20px; 
    }
}

@media only screen and (max-width: 690px){
    .contact-form-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-form {
        border-spacing: 0px 20px; 
    }

    .logos li a i{
        font-size: large;
    }

    .logos li{
        padding-left: 2px;
        padding-right: 2px;
    }
    
    .Nehal_Name_2{
        font-size: medium;
        animation: nametransition 3s ease-in-out infinite;
    }

}

/*================================================================  ================================================================*/